@page
@model HCI_Project.Pages.CartModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>
<style>
    button:hover{
        background-color: #009374;
    }
</style>
<table class="table">
    <thead>
        <tr>
             <th>
                CRN
            </th>
            <th>
                Class
            </th>
            <th>
               Days
            </th>
            <th>
                Timeslot
            </th>
            <th>
               Locations
            </th>
            <th>
              Type of Class
            </th>
            <th>
                Professor
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.cart != null)
        {
                @foreach (var item in Model.cart)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Crn)
                    </td>

                    <td>
                        @foreach (var item1 in Model.takeableclasses)
                        {
                            @if (item1.Classid == item.Classid)
                            {
                                @Html.DisplayFor(modelItem => item1.Classname)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Days)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timeslot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locations)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Typeofclass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prof)
                    </td>
                    <td>
                        <a asp-page="./Courses/Details" asp-route-id="@item.Crn">Details</a>
                    </td>
                    <td>
                        <a asp-page="./Cart" asp-page-handler="Delete" asp-route-id="@item.Crn">Remove from Cart</a>
                    </td>
                </tr>
                }
       }
    </tbody>
</table>
<a style="float:right; border:2px;" asp-page="./Calendar/Index"><button style="margin-top:0">Go to calendar and register</button></a>


