@page
@model HCI_Project.Pages.Courses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Section</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Prof)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Prof)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Days)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Days)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Timeslot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Timeslot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Locations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Locations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Typeofclass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Typeofclass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Class.Classid)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Section.Crn" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
