@page
@model HCI_Project.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Course Selection";
}

<h1>Course Selection</h1>

<form>
    <label for="Class">Search by Class Name:</label><br />
    <input type="text"asp-for="SearchString" />
    <input type="submit" value="Search" /><br />
</form>

<form>
    <label for="CourseID">Search by Course ID:</label><br />
    <input type="text" asp-for="CRN" />
    <input type="submit" value="Search" /><br />
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Section[0].Class)
          
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Timeslot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Locations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Typeofclass)
            </th>
            <th>
            
                @Html.DisplayNameFor(model => model.Section[0].Prof)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Section) {
            int i = 0;
            @foreach (var item1 in Model.Class) {
              if (item1.Classid == item.Classid) {
                    i++;
                    break;
                }  
            }
            if (i == 0) {
                continue;
            }
            <tr>
            <td>
                    @foreach (var item1 in Model.Class)
                    {
                        @if (item1.Classid == item.Classid)
                        {
                            @Html.DisplayFor(modelItem => item1.Classname)
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typeofclass)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Prof)
               
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Crn">Details</a>
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.Crn">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
